@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #D7C0A7; /* Tono beige claro */
  --foreground: #000000; /* Negro para el texto */
  --navbar-bg: #8A6752;
  --navbar-text: #ffffff; /* Blanco para el texto de la barra */
  --footer-bg: #45342a; /* Tono marrón oscuro */
  --footer-text: #ffffff; /* Blanco para el texto del footer */
  --highlight: #934311; /* Tono marrón oscuro para resaltar */
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #161616;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #161616;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #161616;
  --destructive: #d32f2f;
  --destructive-foreground: #fafafa;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #030303;
  --chart-1: #f37a48;
  --chart-2: #49b3ad;
  --chart-3: #559adf;
  --chart-4: #ffc94d;
  --chart-5: #f2aa54;
  --radius: 0.5rem;
}

.dark {
  --background: #030303; /* Dark mode hex values */
  --foreground: #fafafa;
  --card: #030303;
  --card-foreground: #fafafa;
  --popover: #030303;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #161616;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #a62121;
  --destructive-foreground: #fafafa;
  --border: #262626;
  --input: #262626;
  --ring: #d4d4d8;
  --chart-1: #3f7cac;
  --chart-2: #4aa49a;
  --chart-3: #e06357;
  --chart-4: #473c8b;
  --chart-5: #c75146;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
